
<div #bg id="bg"></div>
<canvas #canvas id="gl"></canvas>
<div class="backdiv"> </div>

<div
    class="draggable-el"
    [style.left.px]="dragX"
    [style.top.px]="dragY"
    (mousedown)="onDragStart($event)">
    mozgatható elem
</div>
<div class="wrapper">
    <app-liquid-glass [state]="state">
        <div class="glassEl" #glassEl id="glass-el">
            <h1>Liquid Glass</h1>
            <p>teszt asdasdsa</p>
            <p>teszt asdasdsa</p>
        </div>
    </app-liquid-glass>

    <app-liquid-glass [state]="state">
        <div class="glassEl" #glassEl id="glass-el">
            <h1>Liquid Glass</h1>
            <p>teszt asdasdsa</p>
            <p>teszt asdasdsa</p>
        </div>
    </app-liquid-glass><app-liquid-glass [state]="state">
        <div class="glassEl" #glassEl id="glass-el">
            <h1>Liquid Glass</h1>
            <p>teszt asdasdsa</p>
            <p>teszt asdasdsa</p>
        </div>
    </app-liquid-glass>

    <app-liquid-glass [state]="state">
        <div class="glassEl" #glassEl id="glass-el">
            <h1>Liquid Glass</h1>
            <p>teszt asdasdsa</p>
            <p>teszt asdasdsaasdsdads</p>
        </div>
    </app-liquid-glass><app-liquid-glass [state]="state">
        <div class="glassEl" #glassEl id="glass-el">
            <h1>Liquid Glass</h1>
            <p>teszt asdasdsa</p>
            <p>teszt asdasdsa</p>
        </div>
    </app-liquid-glass>

    <app-liquid-glass [state]="state">
        <div class="glassEl" #glassEl id="glass-el">
            <h1>Liquid Glass</h1>
            <p>teszt asdasdsa</p>
            <p>teszt asdasdsa</p>
        </div>
    </app-liquid-glass><app-liquid-glass [state]="state">
        <div class="glassEl" #glassEl id="glass-el">
            <h1>Liquid Glassasdasdasdasd</h1>
            <p>teszt asdasdsa</p>
            <p>teszt asdasdsa</p>
        </div>
    </app-liquid-glass>

    <app-liquid-glass [state]="state">
        <div class="glassEl" #glassEl id="glass-el">
            <h1>Liquid Glass</h1>
            <p>teszt asdasdsa</p>
            <p>teszt asdasdsa</p>
        </div>
    </app-liquid-glass><app-liquid-glass [state]="state">
        <div class="glassEl" #glassEl id="glass-el">
            <h1>Liquid Glass</h1>
            <p>teszt asdasdsa</p>
            <p>teszt asdasdsa</p>
        </div>
    </app-liquid-glass>

    <app-liquid-glass [state]="state">
        <div class="glassEl" #glassEl id="glass-el">
            <h1>Liquid Glass</h1>
            <p>teszt asdasdsa</p>
            <p>teszt asdasdsa</p>
        </div>
    </app-liquid-glass>

</div>

