
<div #bg id="bg"></div>
<canvas #canvas id="gl"></canvas>
<!-- <div class="backdiv"> </div> -->

<div
    class="draggable-el front"
    [style.left.px]="dragXfront"
    [style.top.px]="dragYfront"
    (mousedown)="onDragStart($event, 'front')">
    draggable component front
</div>
<div
    class="draggable-el back"
    [style.left.px]="dragXback"
    [style.top.px]="dragYback"
    (mousedown)="onDragStart($event, 'back')">
    draggable component back
</div>
<div class="wrapper">
    <app-liquid-glass [state]="state">
        <div class="glassEl" #glassEl id="glass-el">
            <h1>Liquid Glass</h1>
            <p>teszt asdasdsa</p>
            <p>teszt asdasdsa</p>
        </div>
    </app-liquid-glass>

    <app-liquid-glass [state]="state">
        <div class="glassEl" #glassEl id="glass-el">
            <h1>Liquid Glass</h1>
            <p>teszt asdasdsa</p>
            <p>teszt asdasdsa</p>
        </div>
    </app-liquid-glass><app-liquid-glass [state]="state">
        <div class="glassEl" #glassEl id="glass-el">
            <h1>Liquid Glass</h1>
            <p>teszt asdasdsa</p>
            <p>teszt asdasdsa</p>
        </div>
    </app-liquid-glass>

    <app-liquid-glass [state]="state">
        <div class="glassEl" #glassEl id="glass-el">
            <h1>Liquid Glass</h1>
            <p>teszt asdasdsa</p>
            <p>teszt asdasdsaasdsdads</p>
        </div>
    </app-liquid-glass><app-liquid-glass [state]="state">
        <div class="glassEl" #glassEl id="glass-el">
            <h1>Liquid Glass</h1>
            <p>teszt asdasdsa</p>
            <p>teszt asdasdsa</p>
        </div>
    </app-liquid-glass>

    <app-liquid-glass [state]="state">
        <div class="glassEl" #glassEl id="glass-el">
            <h1>Liquid Glass</h1>
            <p>teszt asdasdsa</p>
            <p>teszt asdasdsa</p>
        </div>
    </app-liquid-glass><app-liquid-glass [state]="state">
        <div class="glassEl" #glassEl id="glass-el">
            <h1>Liquid Glassasdasdasdasd</h1>
            <p>teszt asdasdsa</p>
            <p>teszt asdasdsa</p>
        </div>
    </app-liquid-glass>

    <app-liquid-glass [state]="state">
        <div class="glassEl" #glassEl id="glass-el">
            <h1>Liquid Glass</h1>
            <p>teszt asdasdsa</p>
            <p>teszt asdasdsa</p>
        </div>
    </app-liquid-glass><app-liquid-glass [state]="state">
        <div class="glassEl" #glassEl id="glass-el">
            <h1>Liquid Glass</h1>
            <p>teszt asdasdsa</p>
            <p>teszt asdasdsa</p>
        </div>
    </app-liquid-glass>

    <app-liquid-glass [state]="state">
        <div class="glassEl" #glassEl id="glass-el">
            <h1>Liquid Glass</h1>
            <p>teszt asdasdsa</p>
            <p>teszt asdasdsa</p>
        </div>
    </app-liquid-glass>

</div>

